#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
.router-link-text {
    color: #2c3e50 !important;
    font-size: large;
}
#navbarImg {
    max-width: 5em;
    height: auto;
}
h2, h3 {
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
hr {
    border:0;
    margin:0;
    width:100%;
    height:2px;
    background:#8fdd3c;
}
.placeHeading {
    margin-top: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    display: inline-block;
}
#jumbotron {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    margin-top: 1em;
}
.buttonColor {
    background-color: #31c9f7!important;
    color: #2c3e50 !important;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.buttonColor:disabled,
.buttonColor[disabled]{
    background-color: #f7f7f7 !important;
}
.formDesign {
    background-color:  #f7f7f7!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.tabsDesign {
    background-color:  #f7f7f7!important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 2em;
}
.tabText {
    color: #2c3e50;
}
.tabText:hover {
    color: #2c3e50;
}
.tinyPlaceDesign {
    padding-bottom: 1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: solid;
    border-style: groove;
    min-height: 12em;
    max-height: 12em;
    overflow: hidden;
}
.tinyPlaceHover:hover {
    background-color: #f7f7f7;
}

.postsDesign {
    margin-top: 1.5em;
    background:  white!important;
    margin-bottom: 1.5em;
    border: solid;
    border-style: groove;
}
.placeDetailedView {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    border: solid;
    border-style: groove;
}
.paddingClass {
    padding-top: 1em;
}
.imageClass {
    width: 20em;
    height: 20em;
    object-fit: cover;
}
.tinyImgClass{
    width: 15em;
    height: 15em;
    object-fit: cover;
  
}
.card-size-my-trips {
    
    max-width: 33.33%;
  }
.tripDesign {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background:  white!important;
    border: solid;
    border-style: groove;
}
.underline:hover {
    text-decoration: underline;
}
@media screen and (max-width: 995px) {
    .card-size-my-trips {     
        max-width: 50%;  
    }
}
@media screen and (max-width: 768px) {   
    .card-size-my-trips {     
        max-width: 100%;  
    }
    .mobileView {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .showMobileView {
        display: none;
    }
}
@media screen and (max-width: 320px) {
    .tinyImgClass{
        width: 8em;
        height: 8em;
        object-fit: cover;
    } 
}
.offset {
    padding-top: 3em;
}
.accordionStyle{
    background-color: #31c9f7 !important;
    color: #2c3e50 !important;
}